#game {
    position: absolute; 
    top: 20px;
    left: 510px;
    border:1px solid black;
    width:500px;
}

.score {
    position: relative;
    background-color: black;
    height: 80px;
}

.score-edit {
    background-color: black;
    position: absolute;
    left: 140px;
    top: 0px;
}

.score-edit input {
    height: 80px;
    width: 360px;
    font-size: 48px;
}
